div
{
    text-align: center;
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}
.empty_spot {
  border: 8px solid white;
  border-bottom: none;
  width:150px;
  float: left;
}
.one
{
    background-color:black;    
}
.two
{
    background-color:black;
}
.three
{
    background-color: black;
}

.footer {
    position: fixed;
    height: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }